#footer {
  @extend %margins;
  @extend %padding;
  display: flex;
  justify-content: space-between;
  p {
    @extend %zero;
  }
}

#mobile-footer {
  @media #{$tablet-bp} {
    display: none;
  }
}

#tablet-desktop-footer {
  display: none;
  @media #{$tablet-bp} {
    display: flex;
    li {
      padding-left: 30px;
    }
  }

}
