#profile {
  background-color: $contrast-color;
  @extend %padding;
  p {
    @extend %zero;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > * {
      @extend %padding;
    }
    @media #{$tablet-bp} {
      flex-direction: row-reverse;
    }
  }
}


/* portfolio section*/


#portfolio {
  @extend %padding;
  @extend %margins;

  #container {
    @media #{$tablet-bp} {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .portfolio {
    @extend %padding;
    @media #{$tablet-bp} {
      width: 45%;
      margin: 2.5%;
    }
    @media #{$desktop-bp} {
      width: 28.33%;
    }
    @media #{$large-desktop-bp} {
      width: 20%;
    }
  }

}



/* skills section*/


#skills {
  background-color: $contrast-color;
  @extend %padding;
  p {
    @extend %padding;
  }
}

.badges {
  @media #{$tablet-bp} {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    min-height: 60px;
    font-size: .8em;
    padding-left: 60px;
    padding-top: 10px;
    text-align: left;

    @media #{$tablet-bp} {
      padding-top: 0;
      width: 25%;
      margin: 4%;
    }
    @media #{$desktop-bp} {
      width: 15%;
      margin: 2.5%;
    }
  }
}


@for $i from 1 through 5 {
  .badge-#{$i} {
    background-image: url(#{$badge-path}/badge-#{$i}.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }
}

/* contact section*/

#contact {
  @extend %margins;
  @extend %padding;
  border-bottom: solid 1px $contrast-color;
  p {
    @extend %padding;
  }

  li {
    padding-bottom: 20px;
    a {
      padding-left: 40px;
    }
  }
}
