header {
  @media #{$desktop-bp} {
    display: flex;
    justify-content: space-around;

    li {
      display: flex;
      padding-left: 60px;
    }
  }
}

#nav {
  @extend %padding;

  @media #{$tablet-bp} {
    display: flex;
    justify-content: space-around;
  }

  li {
    padding-bottom: 20px;
  }
  a {
    margin-top: 5px;
    padding: 10px 15px;
    text-decoration: none;
    width: 90%;
  }
}
