body {
  font-family: $font;
  color: $font-color;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: $font-color;
  }

  &:hover {
    color: $contrast-color;
  }

}

#nav a {
  @include headings ();
}

.subheading {
  @include headings (1.1em);
}

footer {
  p {
    font-weight: 700;
    font-size: 0.9em;
  }
  #mobile-footer, #tablet-desktop-footer {
    @include headings (0.8em);
  }
}
