body {
  font-family: $font;
  color: $font-color;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: $font-color;
  }

  &:hover {
    color: $contrast-color;
  }

}

.subheading {
  @include headings;
}

footer p {
  font-weight: 700;
}

.mobile-footer {
  @include headings;
}
