* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  @extend %zero;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: $heading-color;
}

ul {
  @extend %zero;
}

li {
  list-style: none;
}

.wrapper {
  @extend %margins;
}
