//Fonts

$font           :   'Noto Sans', sans-serif;


//Colors

$font-color     :   #242d42;
$bg-color       :   #f0f2f7;
$heading-color  :   #5b6fa4;
$contrast-color :   #9ca9c9;


//URLs

$badge-path     :   '../img';


//media queries

$tablet-bp          :   "screen and (min-width: 768px)";
$desktop-bp         :   "screen and (min-width: 1024px)";
$large-desktop-bp   :   "screen and (min-width: 1281px)";
